<div class="container mt-1">
  <div class="card">
    <div class="card-header">
      <h5>{{contact.contactName}}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <label for="customerNo">
            <strong>Customer number </strong>
          </label>
          <label class="float-right">
            <strong>:</strong>
          </label>
        </div>
        <div class="col-md-9">
          <label>{{contact.customerNo}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="contactName">
            <strong>Contact name </strong>
          </label>
          <label class="float-right">
            <strong>:</strong>
          </label>
        </div>
        <div class="col-md-9">
          <label>{{contact.contactName}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="phone">
            <strong>Phone </strong>
          </label>
          <label class="float-right">
            <strong>:</strong>
          </label>
        </div>
        <div class="col-md-9">
          <label>{{contact.phone}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="mobile">
            <strong>Mobile </strong>
          </label>
          <label class="float-right">
            <strong>:</strong>
          </label>
        </div>
        <div class="col-md-9">
          <label>{{contact.mobile}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="email">
            <strong>Email </strong>
          </label>
          <label class="float-right">
            <strong>:</strong>
          </label>
        </div>
        <div class="col-md-9">
          <label>{{contact.email}}</label>
        </div>
      </div>
    </div>
  </div>
</div>